PORT=5000
FRONTEND_URL=http://localhost:3000
OPENAI_API_KEY=sk-proj-F6dt4AUZvl2fgiuqwa1TcFAVsoFVDeOQQ6baC872QYVmiXZABxFBjALjlFwZ2aHswD
-6D2hh1yT3BlbkFJijE9Ye6VpS05TQTK-zd7Pln_-itaTvaDS1ComUsYKWYVZgqSKkwg1I6doVf45UtcmGhNzkpx0A

JWT_SECRET=your-random-secret-key-here
